
<div class="container">

    <form [formGroup]="mainForm" role="form">
      <mat-radio-group aria-label="Sorting options" formControlName="active">

        <div class="row mb-1">
          <label class="col-lg-2">Sort</label>
          <div class="col-lg-4">
            <mat-slide-toggle formControlName="isAscending">asc.</mat-slide-toggle>
          </div>
          <div class="col-lg-5">
            <mat-radio-button value="NR">nr.</mat-radio-button>
            <mat-radio-button  value="LABEL">label</mat-radio-button>
            <!--<mat-radio-button  value="CLUSTER">cluster</mat-radio-button>-->
          </div>
        </div>

        <div class="row mb-1">
          <label class="col-lg-2">PPA Analysis</label>
          <div class="col-lg-4">
          <select id="ppa" class="form-control" aria-label="Select period analysis"
                  formControlName="ppaJobId"
          >
            <option *ngFor="let job of ppaJobs" [value]="job.jobId">
              {{job.method}}: {{shortUUID(job.jobId)}} ({{toLocalDateTime(job.submitted) | date}})
            </option>
          </select>
          </div>
          <div class="col-lg-5">
            <mat-radio-button value="PERIOD" [disabled]="noPPA">period</mat-radio-button>
            <mat-radio-button  value="PHASE" [disabled]="noPPA">phase</mat-radio-button>
            <mat-radio-button value="AMP" [disabled]="noPPA">amp.</mat-radio-button>
            <mat-radio-button  value="ERR" [disabled]="noPPA">err</mat-radio-button>
          </div>
        </div>

        <div class="row  mb-1">
          <label class="col-lg-2">Rhythmicity Test</label>
          <div class="col-lg-4">
            <select id="rhythm" class="form-control" aria-label="Select rhythmicity test"
                    formControlName="rhythmJobId"
            >
              <option *ngFor="let job of rhythmJobs" [value]="job.jobId">
                {{friendlyRhythmMethod(job.parameters.METHOD)}}: {{shortUUID(job.jobId)}} ({{toLocalDateTime(job.jobStatus.submitted) | date}})
              </option>
            </select>
          </div>
          <div class="col-lg-5">
            <mat-radio-button  value="R_TAU" [disabled]="noRhythm">signif.</mat-radio-button>
            <mat-radio-button value="R_PEAK" [disabled]="noRhythm">peak</mat-radio-button>
            <mat-radio-button  value="R_PERIOD" [disabled]="noRhythm">length</mat-radio-button>
          </div>
        </div>


      </mat-radio-group>
    </form>
  <!--{{ mainForm.value | json }}-->
</div>

