@if (serie) {
  <svg:g class="bd2hm-label">
    @if (alwaysOn) {
      <svg:text
        class="bd2hm-onLabel"
        x="-12"
        text-anchor="end"
        [attr.y]="yMiddle"
        [attr.font-size]="fontSize()"
        >{{ shortLabel}}
      </svg:text>
    }
    <g (mouseout)="toggleLabel(false)" (mouseover)="toggleLabel(true)">
      <svg:rect x="-7" width="7" [attr.y]="triggerY" [attr.height]="triggerHeight" [attr.fill]="color"
        ></svg:rect>
        <svg:g class="bd2hm-hover" [attr.opacity]="ready ? 1 : 0" [attr.display]="toggled ? undefined : 'none'">
          <svg:rect x="0" [attr.width]="textBWidth" [attr.y]="textBY" [attr.height]="textBHeight"
            ></svg:rect>
            <svg:text
              #text x="5"
              [attr.y]="yMiddle"
              >{{serie.label}}</svg:text>
        </svg:g>
    </g>
  </svg:g>
}
