.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  
.charts-container bd2-usage-stats-plot {
flex: 1 1 calc(33.33% - 20px);
margin: 0;
min-width: 300px;
}