<div *ngIf="usageStats">
    Number of experiments: {{totalSets | number}} ({{totalPublicSets | number}} are public).<br>
    Number of timeseries: {{totalSeries | number}} ({{totalPublicSeries | number}} are public).<br>
    Number of registered users: {{totalUsers | number}}.
</div>

<div class="charts-container">
    <bd2-usage-stats-plot [data]="usersPerYear" chartLabel="New Users per Year"></bd2-usage-stats-plot>
    <bd2-usage-stats-plot [data]="datasetsPerYear" chartLabel="New Datasets per Year"></bd2-usage-stats-plot>
</div>