<h2>BioDare2 Documentation</h2>

<div class="card mb-3">
  <div class="card-header bd-bg-primary" (click)="tocON = !tocON">Table of Content</div>
  <div [hidden]="!tocON" class="card-body">
    <ul>
      @for (doc of documentOptions; track doc) {
        <li><a [routerLink]="['/documents', doc[0]]">{{doc[1]}}</a></li>
      }
    </ul>
  </div>
</div>

@if (missing) {
  <div class="alert alert-danger" role="alert" type="danger">{{missing}}</div>
}
@if (!missing) {
  <bd2-static-content [docName]="document"></bd2-static-content>
}


