@if (model) {
  <div>
    @if (model.authors.length > 0 ) {
      <h4>
        @for (author of model.authors; track author) {
          <span>{{ author.name }}, </span>
        }
      </h4>
    }
    @if (model.curators.length > 0) {
      <div>
        <hr>
          <strong>Data curators: </strong>
          @for (curator of model.curators; track curator) {
            <span>{{ curator.name }}, </span>
          }
        </div>
      }
      @if (model.institutions.length > 0 || model.fundings.length > 0) {
        <div>
          <hr>
            <strong>Institutions/Fundings: </strong>
            @for (inst of model.institutions; track inst) {
              <span>{{ inst.name }}, </span>
            }
            @for (fund of model.fundings; track fund) {
              <span>{{ fund.name }}, </span>
            }
          </div>
        }
        <!--{{ model | json }}-->
      </div>
    }
