
<div>


  <div *ngIf="!isLoggedIn()">
    <h2>Sign in to BioDare2</h2>

    <form #loginForm="ngForm" >
      <div class="form-group">
        <label for="username">Login</label>
        <input type="text" class="form-control" required
               id="username"
               placeholder="Your login"
               [(ngModel)]="username"
               name="usernameF" >
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" required
               id="password"
               placeholder="Your password"
               [(ngModel)]="password"
               name="passwordF" >
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary"
                [disabled]="!loginForm.form.valid || loginForm.form.pristine" (click)="login()">Sign in</button>
        <!--<button type="button" class="btn btn-default" (click)="goBack()">Go back</button>-->
        <div class="pull-right">
          <a routerLink="/account/remind">Forgotten password?</a></div>
      </div>
    </form>
  </div>

  <div *ngIf="isLoggedIn()">

    <h2>You are logged in to BioDare2</h2>
    <h3 style="margin-bottom: 2em;">Current user: <strong>{{currentUser?.name}}</strong>
    </h3>

    <form>
      <button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
      <!--<button type="button" class="btn btn-default" (click)="goBack()">Go back</button>-->
    </form>
  </div>



</div>
