<div>
  <h3>Number of users per country</h3>
  <p>The world-map shows the number of active users per country in the last 12 months (including non-registered users).<br>
  The table shows the number of active users in the five countries with the most users.</p>
  <br>
  <div class="row">
    <div class="col-sm-8">
      @if (analyticsData) {
        <div
          id="chart_div"
          style="width: 100%; height: 400px;"
          aria-label="World map showing the number of active users per country."
        ></div>
      }
    </div>
    <div class="col-sm-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Country</th>
            <th>Active users</th>
          </tr>
        </thead>
        <tbody>
          @for (country of topCountries; track country) {
            <tr>
              <td>{{ country.country }}</td>
              <td>{{ country.activeUsers | number }}</td>
            </tr>
          }
        </tbody>
      </table>
      <p class="text-right">(last 12 months)</p>
    </div>
  </div>
</div>
