<div>
  <div *ngIf="files.length > 0" class="clearfix" style="margin-bottom: 1em;">
    <div class=""><label>Files:</label></div>
    <div *ngFor="let file of files" class="float-left fileitem">
      {{file.name}}
      <button (click)="remove(file)" aria-label="Close" class="close" style="margin-left: 0.5em;" type="button"><span
        aria-hidden="true">&times;</span></button>
    </div>
  </div>
  <div style="margin-bottom: 1em;">
    <label (dragenter)="handleDragEnter()" (dragleave)="handleDragLeave()"
           (drop)="handleDrop($event)"
           [class.loaded]="loaded"
           [style.outlineColor]="dragging ? activeColor : baseColor"
           class="uploader-zone"
           ondragover="return false;">

      <i class="material-icons bd-icon bd-primary" style="font-size: 400%;">cloud_upload</i>
      <p> Drag file(s) or click to select</p>

      <input #inputField (change)="handleFileSelect($event)" *ngIf="multiple" multiple name="inputField" type="file">
      <input #inputField (change)="handleFileSelect($event)" *ngIf="!multiple" name="inputField" type="file">
    </label>
  </div>
  <div *ngIf="sizeError" class="alert alert-danger">
    Maximum upload size is {{sizeLimit}}MB
  </div>
  <button (click)="upload()" [disabled]="blocked || files.length < 1 || sizeError" class="btn btn-primary btn-sm"
          type="button">Upload selected
  </button>
</div>
