<mat-card *ngIf="user && !user.anonymous" class="mb-2">

  <mat-card-title>
    <h2>Change password for {{user.name}}</h2>
  </mat-card-title>

  <mat-card-content>
    <div *ngIf="updated" class="alert alert-success">Password has been updated</div>

    <form #registrationForm [formGroup]="userForm">
      <div class="form-group">
        <mat-form-field class="w-100">
          <mat-label for="username">Login</mat-label>
          <input matInput class="" formControlName="username" id="username"
                 required
                 type="text"
          >
        </mat-form-field>
      </div>

      <div formGroupName="passwords">
        <div class="form-group">
          <mat-form-field class="w-100">
            <mat-label for="password">Password</mat-label>
            <input matInput class="" formControlName="password" id="password"
                   minlength="8"
                   placeholder="password"
                   required
                   type="password"
            >
            <mat-hint>Password must be at least 8 long, containing a digit or symbol or capital letter</mat-hint>
            <mat-error>Password must be at least 8 long, containing a digit or symbol or capital letter</mat-error>
          </mat-form-field>

        </div>

        <div class="form-group">
          <mat-form-field class="w-100">
            <mat-label for="password2">Repeat password</mat-label>
            <input matInput class="" formControlName="password2" id="password2"
                   minlength="8"
                   placeholder="password"
                   required
                   type="password"
            >
            <mat-error *ngIf="passwordsGroup.errors">Passwords do not match</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group">
        <mat-form-field class="w-100">
          <mat-label for="cPassword">Current password</mat-label>
          <input matInput class="" formControlName="currentPassword" id="cPassword"
                 placeholder="current password"
                 required
                 type="password"
          >
        </mat-form-field>

      </div>



      <button (click)="save()" [disabled]="userForm.invalid" class="btn btn-primary" type="button">
        Update
      </button>


    </form>


  </mat-card-content>
</mat-card>
