<form #loginForm="ngForm" class="login-form form-inline">
    @if (!logged) {
    <div class="d-none d-lg-block d-xl-block no-clues">
        <input type="text" class="form-control mr-1"
        placeholder="Login"
        required
        [(ngModel)]="username"
        name="usernameF"
        >
        <input type="password" class="form-control mr-1"
        placeholder="Password"
        required
        [(ngModel)]="password"
        name="passwordF"
        >
        <button type="submit" class="btn btn-success"
        [disabled]="!loginForm.form.valid || loginForm.form.pristine" (click)="login()">Sign in
        </button>
    </div>
    }
    <!-- button to full screen login on small devices -->
    @if (!logged) {
    <div class="d-lg-none d-xl-none">
        <a routerLink="/login" routerLinkActive="active" class="btn btn-success" role="button"
        (click)="navigated()">Sign in</a>
    </div>
    }
    @if (logged) {
    <div>
        <button type="submit" class="btn btn-success" (click)="logout()">Logout</button>
    </div>
    }
</form>
