<!-- <bd2-top-bar></bd2-top-bar> -->
<bd2-cookieconsent></bd2-cookieconsent>

<bd2-header-bar></bd2-header-bar>


<div class="container central-area">

  <div class="row">

    <div class="col-md-3 col-md-push-9 feedbacks">
      <!-- <bd2-feedback-list errorDelay="45"></bd2-feedback-list> -->
    </div>

    <div class="col-md-9 col-md-pull-3 main-area">
      <div class="row">

        <div class="col-sm-1 sidebar">
        </div>

        <div class="col-sm-11 workspace">
          <router-outlet></router-outlet>
        </div>

      </div>
    </div>
  </div>

</div> <!-- /container -->

<div class="container popup-area">
  <div class="row">
    <div class="col-xs-8 col-sm-6 col-md-3 col-md-offset-8 col-sm-offset-6 col-xs-offset-4 popup-feedbacks" style="
    word-wrap: break-word;
    max-width: 250px;
    position: fixed;
    bottom: 50px;
    z-index: 1030;
    ">
      <!-- <bd2-feedback-list errorDelay="8" infoDelay="5"></bd2-feedback-list> -->
    </div>
  </div>
</div>


<div class="container">
  <hr>

  <footer>
    <p>&copy; 2016 BioDare2, University of Edinburgh</p>
  </footer>
</div> <!-- /container -->


