<bd2-top-bar></bd2-top-bar>
<bd2-cookieconsent></bd2-cookieconsent>

<bd2-header-bar></bd2-header-bar>


<div class="container-xl central-area">
  <mat-sidenav-container>
    <mat-sidenav #statusDrawer position="end" mode="side" >
      <div >
        <a role="button" (click)="statusDrawer.toggle()" aria-label="show messages">
          <i class="material-icons bd-icon" style="font-size: 300%;">chat</i>
        </a>
      </div>
      <bd2-feedback-panel></bd2-feedback-panel>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="float-right">
        <a role="button" (click)="statusDrawer.toggle()" aria-label="show messages" [hidden]="statusDrawer.opened">
          <i class="material-icons bd-icon" style="font-size: 300%;">comment</i>
        </a>
      </div>

      <div class="row mr-1">

        <div class="col-sm-1 sidebar">
        </div>

        <div class="col-sm-11 workspace">
          <router-outlet></router-outlet>
        </div>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> <!-- /container -->

<!-- for snack-bar messages -->
<bd2-flash-messages></bd2-flash-messages>




<div class="container-xl">
  <hr>

  <footer>
    <p>&copy; BioDare2, University of Edinburgh</p>
  </footer>
</div> <!-- /container -->


