<div *ngIf="model">
  <form #gDescForm="ngForm">
    <div class="form-group">
      <label for="gName">Name</label>
      <input #gName="ngModel" [(ngModel)]="model.name" class="form-control"
             id="gName"
             maxlength="100"
             minlength="6"
             name="gName"
             placeholder="e.g. Testing robustness in low light (E12)"
             required type="text">
      <div [hidden]="gName.valid " class="alert alert-danger">
        Descriptive name is required
      </div>
    </div>

    <div class="form-group">
      <label for="gPurpose">Purpose/Hypothesis</label>
      <textarea #gPurpose="ngModel" (input)="checkPurpose()" [(ngModel)]="model.purpose" class="form-control"
                id="gPurpose"
                minlength="55"
                name="gPurpose"
                placeholder=
                  "Describe the main aim of the experiment. What you tried to achieve, test, verify, on what kind of samples." required
                rows="4" type="text">
                 </textarea>
      <div [hidden]="gPurpose.valid && sufficientPurpose" class="alert alert-danger">
        Sensible description with more than few words is required
      </div>
    </div>

    <div class="form-group">
      <label for="gDescription">Description</label>
      <textarea #gDescription="ngModel" [(ngModel)]="model.description" class="form-control"
                id="gDescription"
                name="gDescription"
                placeholder=
                  "Describe how the experiment was conducted, what environmental conditions, sampling procedure.
For example: seedlings were exposed to short day light regime (LD 6:18) at two temperatures 15 and 25. Samples where harvested every 4 hours for 3 days and the genes levels measured with RT PCR"
                rows="5" type="text">
                 </textarea>
      <!--<div [hidden]="gDescription.valid || gDescription.pristine" class="alert alert-danger">
          Valid description is required
      </div>-->
    </div>

    <div class="form-group">
      <label for="gComments">Comments</label>
      <textarea #gComments="ngModel" [(ngModel)]="model.comments"
                class="form-control"
                id="gComments"
                name="gComments"
                placeholder="Optional remarks, for example technical issues during the experiment, discrepancies/simplifications of in the following sections" type="text">
                </textarea>
      <!--<div [hidden]="gComments.valid || gComments.pristine" class="alert alert-danger">
          Valid comments are required
      </div>-->
    </div>

    <button (click)="save()" [disabled]="blocked || !gDescForm.form.valid || !sufficientPurpose" class="btn btn-primary"
            type="button">{{okLabel}}</button>
    <button (click)="cancel()" class="btn btn-default" type="button">Cancel</button>

    <!--{{model | json }} -->
  </form>
</div>
