<div
  class="card"
  tabindex="0"
  (click)="cardClicked()"
  (keydown.enter)="cardClicked()"
  [class.no-animation]="!animationEnabled"
  [@cardFlip]="animationEnabled ? data.state : null"
  [style.transform]="!animationEnabled && data.state === 'flipped' ? 'rotateY(180deg)' : 'none'"
>
    <div class="face back">
      <div class="species">{{ name }}</div>
      <img [src]="image" [alt]="alt"/>
      <small class="reference" [innerHTML]="reference"></small>
    </div>
    <div class="face front">
      <div class="species">{{ name }}</div>
      
      Experiments: {{ datasets | number }} <br>
      <small>(Public: {{ publicDatasets | number }})</small>
      Timeseries: {{ timeseries | number }} <br>
      <small>(Public: {{ publicTimeseries | number }})</small>
      <br>
      <b>Popular keywords</b>{{ keywords }}
    </div>
</div>