<div class="card" (click)="cardClicked()" [@cardFlip]="data.state">
    <div class="face back">
      <div class="species">{{ name }}</div>
      <img [src]="image" />
      <small class="reference" [innerHTML]="reference"></small>
    </div>
    <div class="face front">
      <div class="species">{{ name }}</div>
      
      Experiments: {{ datasets | number }} <br>
      <small>(Public: {{ publicDatasets | number }})</small>
      Timeseries: {{ timeseries | number }} <br>
      <small>(Public: {{ publicTimeseries | number }})</small>
      <br>
      <b>Popular keywords</b>{{ keywords }}
    </div>
</div>